---
layout: compress
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name=description content="{{ site.bio }}">
    <meta name=author content="{{ site.name }}">

    <meta name="naver-site-verification" content="01d13aa49a22cd5b017bed2b84424206c080c46a"/>
    <meta name="google-site-verification" content="zz3mBUn_f9_RbWHDEg9woWN1m4HbW_vcTt7aAYtueAs" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147227569-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147227569-1');
    </script>

    {% seo %}

    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <style>
    {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
    </style>

</head>
<body>

    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
        {% if page.tag %}
            <div class="post">
        {% else %}
            {% if showHeader != true %}
                <div class="page {% if page.title == 'Post' %}blog{% else %}{{ page.title | downcase }}{% endif %}">
            {% else %}
                <div class="{{ page.title | downcase }}">
            {% endif %}
        {% endif %}

            {{ content }}
        </div>
    </div>

    {% include icons.html %}

    {% include analytics-google.html %}

</body>
</html>
